    <div class="container">
        <head>This is the game of the year</head>
        <header>
            <div class = logo>
                <h1 class="titulos">RPS Multiplayer</h1>
                <h1 class="subtitulos"> &nbsp; Rock, Paper, Scissors</h1>
            </div>        
            <form>
            <div class = login>
                    <br>
                    <h3> &nbsp; Choose your player</h3>
                    <button formaction="/player1">Player 1</button>
                    <button formaction="/player2">Player 2</button>
                </div>        
            </form>            
        </header>
        <footer class="footera">
            <p> Created by Jose Andres Miguel &copy;</p>
        </footer>
    </div>